# Ruta opcional de Chrome para sistemas Windows
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe

# Puerto para la API REST del microservicio
PORT=3000

# URL del Webhook para notificar los mensajes de WhatsApp recibidos
WEBHOOK_URL=http://localhost:4000/api/whatsapp/webhook